{% extends 'base.html' %}

{% block content %}
    <section class="form-section">
        <h1>Add a Country</h1>
        <form  method="POST" class="artist-form">
            {% csrf_token %}
            {{form.as_p}}
            <button class="btn" type="submit">Save</button>
        </form>
    </section>

<script>
    let visitedEl = document.getElementById('id_visited')
    let labelEl = document.querySelector('label[for = id_visited]')
    labelEl.innerHTML += '<span></span>'
    labelEl.prepend(visitedEl)
</script>
{% endblock %}